@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Cabeçalho */
header{
    width: 100vw;
    height: 60%;
    background-color: hsl(50, 100%, 50%, 90%);
    position: sticky ;
    z-index: 10;
}
#logo{
    width: 30%; 
    padding-top: 10px;
}
.log{
    text-align: center;
}
.cab{
  font-size: 3.5vw;
  margin: 2%;
  text-decoration: none;
  position: sticky;
  font-family: 'Satisfy', cursive;
}

.cab:hover{
    color: hsl(0, 100%, 50%, 90%);
    transition: 1s;
}
.redes{
    border-radius: 10px;
    margin-top: 10px;  
}
.redes:hover{
    scale: 1.3;
    transition: 1s;
}
/* todos os corpos */

#principal{
    background-color: blueviolet;
    background-image: url("img/body/fundopng.png");
    height: auto;
}
.corpo{
    margin: 0px 150px;
    text-align: center;
    background-color: white;
    opacity: 0.8;
}