@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Cabeçalho */
header{
    width: 98.9vw;
    height: 60%;
    background-color: hsl(50, 100%, 50%, 100%);
    position: sticky ;
    z-index: 10;
}
#logo{
    width: 30%; 
    padding-top: 10px;
}
.log{
    text-align: center;
}
.cab{
  font-size: 3.5vw;
  margin: 2%;
  text-decoration: none;
  position: sticky;
  font-family: 'Satisfy', cursive;
}

.cab:hover{
    color: hsl(0, 100%, 50%, 90%);
    transition: 1s;
}
.redes{
    border-radius: 10px;
    margin-top: 10px;  
}
.redes:hover{
    scale: 1.3;
    transition: 1s;
}
/* todos os corpos */

#principal{
    background-color: blueviolet;
    background-image: url("img/body/fundopng.png");
}
.corpo{
    /* margin: 0px 150px; */
    width: 920px;
    background-color: hsl(0, 100%, 100%, 80%);
    margin: auto;
}
.titulo{
    text-align: center;
}



#rodape
{
    border: 1px solid red;
    clear: both;
}
/* Index Giovana */
.doce{
    border: 1px solid red;
    width: 450px;
    float: left;
}
/* Index Jennifer */
.salgada{
    border: 1px solid red;
    width: 450px;
    float: right;
    background: white;
}
/* Sobre nós Helio */
.contato{
    width: 50vw;
    height: 200px;
    margin: 0 auto 60px auto ;
    border: solid 1px red;
    display: flex;
    align-items: center;
}
.sob{
    border: solid 1px red;
    width: 250px;
    height: 200px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}